<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <description></description>
    <display-name>PageConnexion</display-name>
    <servlet-name>PageConnexion</servlet-name>
    <servlet-class>fr.eni.projet.encheres.ihm.connectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageConnexion</servlet-name>
    <url-pattern>/PageConnexion</url-pattern>
  </servlet-mapping>
  <display-name>Enchere-Eni</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TestBdd</servlet-name>
    <servlet-class>fr.eni.projet.encheres.ihm.TestBdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>connectionServlet</servlet-name>
    <servlet-class>fr.eni.projet.encheres.ihm.connectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestBdd</servlet-name>
    <url-pattern>/TestBdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>connectionServlet</servlet-name>
    <url-pattern>/connectionServlet</url-pattern>
  </servlet-mapping>
</web-app>